* {
  font-family: Helvetica, sans-serif;
}

body {
  color: #fff;
  background: #000;
  text-align: justify;
}

p {
  width: 50vw;
  line-height: 1.5em;
}

img {
  width: 50vw;
}

#logo {
  width: 30vw;
  height: 30vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link,
a:visited {
  color: #ffa500;
}

a:hover,
a:active {
  color: #fff;
  cursor: pointer;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  line-height: 2em;
  border: 3px solid;
}
