* {
  font-family: Helvetica, sans-serif;
}

body {
  color: #fff;
  background: #000;
  text-align: justify;
}

p {
  width: 50vw;
  line-height: 1.5em;
}

img {
  width: 50vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link,
a:visited {
  color: #ffa500;
}

a:hover,
a:active {
  color: #fff;
  cursor: pointer;
}
